In [ ]:
import pandas as pd
data1=({"name":["karthi","monish","aj"],"age":[19,19,19]})
data2=({"mark":[92,93,80]})
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print("Original DataFrame 1:\n",df1)
print("\n Original DataFrame 2:\n",df2)

Original DataFrame 1:
      name  age
0  karthi   19
1  monish   19
2      aj   19

 Original DataFrame 2:
    mark
0    92
1    93
2    80

In [ ]:
import pandas as pd
d=pd.read_excel("/content/NEW DATA.xlsx")
print("Get the table data:\n")
print(d)

Get the table data:

          NAME    ROLL NO DEPARTMENT  CGPA
0   MADHAN SAI  220801110        ECE    10
1  LOKESHWARAN  220801109        ECE    10
2  KARTHIKEYAN  220801098        ECE    10
3       MONISH  220801124        ECE    10
4        AZHAR  220801121        ECE    10

In [ ]:
import pandas as pd
df=pd.DataFrame(d)
print("\nGet the shape (no of rows,no of columns)\n",df.shape)

Get the shape (no of rows,no of columns)
 (5, 4)

In [ ]:
import pandas as pd
print("\nGet particular column values\n",df['ROLL NO'])

Get particular column values
 0    220801110
1    220801109
2    220801098
3    220801124
4    220801121
Name: ROLL NO, dtype: int64

In [ ]:
import pandas as pd
dt=pd.DataFrame([[13,67.43],[2,78,90],[234,87,980]],index=['four','five','six'],columns=['a','b','c'])
print(df)

          NAME    ROLL NO DEPARTMENT  CGPA
0   MADHAN SAI  220801110        ECE    10
1  LOKESHWARAN  220801109        ECE    10
2  KARTHIKEYAN  220801098        ECE    10
3       MONISH  220801124        ECE    10
4        AZHAR  220801121        ECE    10

In [ ]:
import pandas as pd
print("Taking the input from DataFrame and storing in the Excel file")
df.to_excel('/content/NEW DATA.xlsx')
d=pd.DataFrame([[110,210,310],[12,32,45],[32,76,89]],index=['four','five','six'],columns=['a','b','c'])
d.to_excel('/content/NEW DATA.xlsx')

Taking the input from DataFrame and storing in the Excel file

In [ ]:
import as pandas as pd